h1 {
  text-align: center;
}

button {
  height: 50px;
}

input {
  width: 100%;
}

input[type="range"] {
  width: 85%;
}

.settingsSection {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 1em;
  padding: 10px;
}

.saveButton {
  border: 1px solid hsl(0, 0%, 10%);
  background-color: hsl(0, 0%, 14%);
  border-radius: 5%;
  color: rgba(255, 255, 255, 0.8);
}

.saveButton:hover {
  cursor: pointer;
}
