#settings-form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 10 0;
}

#settings-form > * {
    margin: 10px auto;
    width: 90%;
}

h1 {
    text-align: center;
}

button {
    height: 50px;
}

input {
    width: 100%;
}

input[type="range"] {
    width: 85%;
}


.settingsSection {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 1em;
    padding: 10px;
}
